*,*::after,*::before
{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    color: #ebebeb;
}
body
{
    background: #000;
    margin: 0;
}
.canvas{
    background-color: #ebebeb;
    height: 80%;
    width: 80%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}