@font-face { font-family: gro Ov Ed Font; src: url('./fonts/Grooved.ttf'); } 

#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('./img/gif1.gif')no-repeat center center;
    z-index: 99999;
}

*,*::after,*::before
{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    color: #ebebeb;
}
body
{
    background: url(./img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}
img
{
 max-width: 100%;   
 object-fit: cover;
}
a
{
    display: inline-block;
    text-decoration: none;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,p
{
    margin: 0;
}
.row
{
    display: flex;
}
.container
{
    max-width: 90%;
    margin: 0 auto;
}
header
{
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 1.5em 0;
}
.logo
{
    align-items: center;
}
.logo img
{
    align-items: center;
    position: fixed;
    top: 1px;
    padding-top: 10px;
    left: 20px;
    max-width: 180px;
}
nav ul
{
    gap: 2em;
    align-items: center;
}
nav a
{
    font-family: gro Ov Ed Font;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
nav a::after
{
    display: block;
    content: "";
    width: 0;
    height: 5px;
    margin: 0 auto;
    background-color: #F7D059;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius: 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
nav li:nth-of-type(3) a::after
{
    all: unset;
}
nav a:hover::after
{
    width: 30px;
}
nav li:nth-of-type(3) a
{
    padding: 0.5em 1em;
    background-color: #A9C3D2;
    color: #151E1D;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms--transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
nav li:nth-of-type(3) a:hover, .hero a:hover
{
    box-shadow: 4px 4px 4px rgba(255, 255, 255, .25);
}
.hero
{
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh - 93.6px);
}
.hero>*
{
    flex: 1 1 25em;
}
.hero h1
{
    font-weight: 700;
    font-size: clamp(40px,5vw,70px);
    line-height: .7;
    font-family: gro Ov Ed Font;
}
.red{
    font-family: gro Ov Ed Font;
    font-weight: 400;
    color: #F7D059;
}
.hero p
{
    font-family: gro Ov Ed Font;
    font-weight: 500;
    font-size: 30px;
    padding: 0.5em 0; 
}
.hero a
{
    font-weight: 700;
    font-size: 20px;
    padding: 0.3em 1em; 
    background-color: white;
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    -ms--border-radius:10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
/* Responsiveness  NAVIGATION START */
@media screen and (max-width:960px)
{
    .toggleMenu
    {
        position: absolute;
        right: 5%;
        background-image: url(./img/Hamburger_icon.svg.png);
        color: #ebebeb;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
        -webkit-transition: background-size 0.3s ease-in-out;
        -moz-transition:background-size  0.3s ease-in-out;
        -ms-transition:background-size  0.3s ease-in-out;
        -o-transition: background-size 0.3s ease-in-out ;
    }
    .toggleMenu.active
    {
        position: fixed;
        background-image: url(./img/close.png);
        background-size: 25px;
    }
    .navigation
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(1,0);
        -webkit-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -o-transform: scale(1,0);
    }
    .navigation.active
    {
        position: fixed;
        inset: 0;
        margin: auto;
        max-height: 100%;
        opacity: 1;
        background-color: #151E1D;
        color: #ebebeb;
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);

        transition: 0.8s ease-in-out;
        -webkit-transition: 0.8s ease-in-out;
        -moz-transition: 0.8s ease-in-out;
        -ms-transition: 0.8s ease-in-out;
        -o-transition:0.8s ease-in-out ;
    }
    nav ul
    {
        flex-direction: column;
    }
    .hero h1
    {
        font-size: 34px;    
    }
    .hero p
    {
        font-size: 22px;
    }
    body{
    background: url(./img/phone.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    }
}
/* Responsiveness NAVIGATION  END */

/* Search Button Start */
.input-box {
    position: relative;
    height: 50px;
    max-width: 300px;
    width: 100%;
    background: none;
    margin: 0 20px;
    margin-left: 100px;
    border-radius: 8px;
  }
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box input {
    height: 100%;
    width: 76.5%;
    outline: none;
    font-size: 28px;
    font-weight: 400;
    border: none;
    padding: 0 0px 0 0;
    margin-left: 50px;
    background-color: transparent;
    color: #F7D059;
    border-bottom: 1px solid #fff;
    font-family: gro Ov Ed Font;
  }
  ::placeholder { 
    color: #151E1D;
    opacity: 1; 
  }
  .input-box .button {
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    background-color: #5D6675;
    cursor: pointer;
  }
  .input-box .button.clicked {
    transform: translateY(-50%) scale(0.98);
  }
  
  /* Responsive */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box input {
        font: 14px;
    }
    .input-box .button {
      font-size: 14px;
      top: 25px;
    }
  }
  /* Search button end */

  /* DropDown  */
  .autocomplete-wrapper
{
    display: inline-block;
    position: relative;
}
.autocomplete-list
{
    list-style: none;
    padding: unset;
    padding-left:50px;
    padding-right:21px;
    margin: unset;
    position: absolute;
    width: 100%;
}
.autocomplete-list li 
{   
    border: 1px solid #e9e9e9;
    border-top:unset;
}
.autocomplete-list li:hover
{   
     background:#151E1D;

}
.autocomplete-list button
{   
    border: unset;
    background-color: unset;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}
  /* DropDown End */
