@font-face { font-family: gro Ov Ed Font; src: url('/fonts/Grooved.ttf'); } 

#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('./img/gif1.gif')no-repeat center center;
    z-index: 99999;
}

*,*::after,*::before
{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    color: #ebebeb;
}
body
{
    background: #5D6675;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

/* NAVBAR START */
img
{
 max-width: 100%;   
 object-fit: cover;
}
a
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
ul
{
    position: absolute;
    right: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,p
{
    margin: 0;
    font-family: gro Ov Ed Font;
}
.row
{
    display: flex;
}
.container
{
    max-width: 90%;
    margin: 0 auto;
}
header
{
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 1.5em 0;
}
.logo
{
    align-items: center;
}
.logo img
{
    align-items: center;
    position: fixed;
    top: 1px;
    padding-top: 10px;
    left: 20px;
    max-width: 180px;
}
nav ul
{
    gap: 2em;
    align-items: center;
}
nav a
{
    font-family: gro Ov Ed Font;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
nav a::after
{
    display: block;
    content: "";
    width: 0;
    height: 5px;
    margin: 0 auto;
    background-color: #F7D059;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius: 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
nav li:nth-of-type(3) a::after
{
    all: unset;
}
nav a:hover::after
{
    width: 30px;
}
nav li:nth-of-type(3) a
{
    padding: 0.5em 1em;
    background-color: #A9C3D2;
    color: #151E1D;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms--transition: 0.3s ease-in-out;
    -o-transition:0.3s ease-in-out ;
}
nav li:nth-of-type(3) a:hover, .hero a:hover
{
    box-shadow: 4px 4px 4px rgba(255, 255, 255, .25);
}
/* NAVBAR END */

/* Responsiveness  NAVIGATION START */
@media screen and (max-width:960px)
{
    .toggleMenu
    {
        position: absolute;
        top: 15px;
        right: 5%;
        background-image: url(/img/Hamburger_icon_white.png);
        color: #ebebeb;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
        -webkit-transition: background-size 0.3s ease-in-out;
        -moz-transition:background-size  0.3s ease-in-out;
        -ms-transition:background-size  0.3s ease-in-out;
        -o-transition: background-size 0.3s ease-in-out ;
    }
    .toggleMenu.active
    {
        position: fixed;
        background-image: url(/img/close.png);
        background-size: 25px;
    }
    .navigation
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(1,0);
        -webkit-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -o-transform: scale(1,0);
    }
    .navigation.active
    {
        position: fixed;
        inset: 0;
        margin: auto;
        max-height: 100%;
        opacity: 1;
        background-color: #151E1D;
        color: #ebebeb;
        z-index: 999;
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);

        transition: 0.8s ease-in-out;
        -webkit-transition: 0.8s ease-in-out;
        -moz-transition: 0.8s ease-in-out;
        -ms-transition: 0.8s ease-in-out;
        -o-transition:0.8s ease-in-out ;
    }
    nav ul a
    {
      color: #FFF;
    }
    nav ul
    {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
/* Responsiveness NAVIGATION  END */

/* MAP START */
.sidebar{
    position: fixed;
    background: #A9C3D2;
    width: 20%;
    height: 100%;
    top: 100px;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    color: #F7D059;
    background: #5D6675;
    border: 5px solid #151E1D;
    border-left: 0px;
    padding: 10px;
    font-weight: bold;
    font-family: gro Ov Ed Font;
    margin-top: 0px;
}
.list
{
    position:relative;
    left: 15px;
}
.sidebar ul li {
    display: block;
    margin: 25px 0;
    font-weight: 600;
    color: #151E1D;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li span
{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

/* Sidebar end Here  */

/* Main Content Section Start Here  */

.main{
    position: absolute;
    display: inline-block;
    left: 20%;
    margin-top: 53px;
    padding: 5px;
    background: #fff;
    height: 82%;
    width: 80%;
    
}
/* MAP END */

@media screen and (max-width:960px)
{
    .store{
        display: grid;
        
    }
    .sidebar
    {
        width: 100%;
        top: 70%;
    }
    .sidebar ul
    {   
        position: absolute;
        right: 0;
        margin: 0 auto;
    }
    .sidebar ul li
    {
        display: inline-block;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .main
    {
        /* all: unset; */
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 20%;
        height: 50%;
        width: 100vw;
        
    }
    .sidebar h2
    {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 60%;
        border: none;
    }
    
}